{% extends 'base.html.twig' %}
{% block navbar %}
    <div class="blog-masthead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <nav class="blog-nav">
                <a href="{{ path('homepage') }}" class="blog-nav-item">Accueil</a>
                <div class="right-nav">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_ADMIN') %}<a class="blog-nav-item active" href="{{ path('admin') }}">Admin</a>{% endif %}
                        <a class="blog-nav-item" href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                        <a class="blog-nav-item" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a class="blog-nav-item" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a class="blog-nav-item" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
            </nav>

        </div>
    </div>
{% endblock %}
{% block body %}
<div class="container blog-main">
    {% for entity in entities %}
        {% if entity.id == id %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ entity.name }}</h2>
            <p class="blog-post-meta">{{ entity.date|date('Y-m-d H:i:s') }} by <a href="#">{{ entity.author }}</a></p>
            <p><img src="{{ asset(entity.image) }}" alt="" /></p>
            <p>{{ entity.content }}</p>
            <p>[ <a href="#comment">Ajouter un commentaire</a> ] - [ <a href="{{ path('homepage') }}">Retour à l'accueil</a> ]</p>

        </div><!-- /.blog-post -->
        {% endif %}
    {% endfor %}


</div>
    <div class="container">
    <h2>Liste des commentaires</h2><hr />
    {% for entity_comments in comments %}
        {% if entity_comments.article == id %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ entity_comments.objet }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ entity_comments.commentaire }}</p>
                        <hr />
                        Par <a href="{{ path('profil') }}/{{ entity_comments.user }}">{{ entity_comments.user }}</a>, le {{ entity_comments.date|date('Y-m-d H:i:s') }}
                    </div>
                </div>

        {% endif %}
    {% endfor %}
        <div id="comment"></div><br />
        <h2>Ecrire un commentaire</h2><hr />
        {{ form_start(form) }}

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <div class="input-group">
                        {{ form_errors(form.objet) }}
                        <span class="input-group-addon" id="basic-addon1">Objet</span>
                        {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </p>
                    <div class="input-group input-group-lg">
                        {{ form_errors(form.commentaire) }}
                        {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="input-group-btn">
                            {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_row(form.date, {'attr': {'value': date }}) }}
        {{ form_row(form.user, {'attr': {'value': user }}) }}
        {{ form_row(form.article, {'attr': {'value': id}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}