{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Modifier mon mot de passe</div>
        <div class="panel-body">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
                <hr />
                <p><a href="{{ path('fos_user_profile_show') }}">Retour à mon profil</a></p>
            </form>
        </div>
    </div>
</div>