{% extends 'base.html.twig' %}
{% block title %} Admin{% endblock %}
{% block navbar %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a href="{{ path('homepage') }}" class="blog-nav-item">Accueil</a>
                <div class="right-nav">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if is_granted('ROLE_ADMIN') %}<a class="blog-nav-item active" href="{{ path('admin') }}">Admin</a>{% endif %}
                        <a class="blog-nav-item" href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                        <a class="blog-nav-item" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a class="blog-nav-item" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a class="blog-nav-item" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
            </nav>

        </div>
    </div>
{% endblock %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="container">
        <h1>Dashboard Admin</h1>
        <div class="col-md-6"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Configuration</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path('blog') }}">Paramètres généraux</a></li>
                        <li><a href="#">Utilisateurs</a></li>
                    </ul>
                </div>
            </div></div>
        <div class="col-md-6"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contenu</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ path('article') }}">Articles</a></li>
                        <li><a href="{{ path('category') }}">Catégories</a></li>
                        <li><a href="{{ path('comments') }}">Commentaires</a></li>
                    </ul>
                </div>
            </div></div>
    </div>
    {% else %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Accès interdit !</h3>
            </div>
            <div class="panel-body">
                Vous n'avez pas les autorisations nécessaires !
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}
