{% extends '::base.html.twig' %}
{% block navbar %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a href="{{ path('homepage') }}" class="blog-nav-item">Accueil</a>
                <div class="right-nav">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_ADMIN') %}<a class="blog-nav-item active" href="{{ path('admin') }}">Admin</a>{% endif %}

                        <a class="blog-nav-item" href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                        <a class="blog-nav-item" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a class="blog-nav-item active" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a class="blog-nav-item" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
            </nav>

        </div>
    </div>
{% endblock %}
{% block body -%}
    {% if is_granted('ROLE_ADMIN') %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edition commentaires</h3>
        </div>
        <div class="panel-body">

            <table width="100%" cellspacing="2" cellpadding="0" border="0">
                <tr>
                    <td>
                        {{ form_start(edit_form) }}
                        {{ form_row(edit_form.objet) }}
                        {{ form_row(edit_form.commentaire) }}
                        {{ form_row(edit_form.article) }}
                        {{ form_row(edit_form.user) }}
                        {{ form_row(edit_form.date) }}

                        <hr />
                        <table cellspacing="2" cellpadding="0" border="0">
                            <tr>
                                <td>
                                    {{ form_row(edit_form.submit) }}
                                    {{ form_rest(edit_form) }}
                                    {{ form_end(edit_form) }}

                                </td>
                                <td>&nbsp;<a class="btn btn-primary" href="{{ path('comments') }}">Retour à la liste</a></td>
                                <td>{{ form(delete_form) }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
    {% else %}
        <div class="container">
            <div class="alert alert-danger"><strong>Accès interdit !</strong> Vous n'avez pas les autorisations nécessaires !</div>
        </div>
    {% endif %}
{% endblock %}
